page-arrival {

	.maincontent{
		background-color: #9595e8;
	}

	.card-md {
		width: 100%;
		margin: 0px;
		margin-bottom: 10px;
	}

	.list-header-md {
		border: none;
		margin-bottom: 5px
	}
	.datainput {
		background-color: #26536c;
		border: 1px solid #254659;
		color: white;
	}

	.slotitem {
		background-color: #26536c;
		color: white;
	}

}
