page-cardetails {

	.list-header-md {
		border: none;
	}

	.maincontent{
		background-color: #9595e8;
	}
	.mainlist {
		background-color: #26536c;
		color: yellow;
	}
	.listheader {
		background-color: #26536c;
		color: yellow;
	}
	.listitem {
		background-color: black;
		color: yellow;
	}
}
