
<ion-header>

  <ion-navbar color="background">
    <ion-title>Search a car</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="maincontent">

	<ion-searchbar (ionInput)="getcarbyCarno($event)" placeholder="Search car by car no.."></ion-searchbar>

	<ion-list no-lines class="mainlist" *ngIf="datasearched && found">
		<ion-list-header class="listheader">Car Details</ion-list-header>
		<ion-item class="listitem" *ngFor="let car of cars,let i = index">
			<p>Car no: {{car.carno}}</p>
			<p>Entry time: {{car.entrytime}}</p>
			<p>Slot given: {{car.slotno}}</p>
		</ion-item>
	</ion-list>
	<div *ngIf="datasearched && !found" style="text-align: center;height: 100px;width: 100%;margin: inherit"> 
		<ion-note>No cars found</ion-note>
	</div>
</ion-content>
